.about-container {
  margin-top: 10vh;
  width: 80vw;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  .about-contents {
    h1 {
      margin: 0 auto;
      font-size: 3.5em;
    }
    p {
      max-width: 49rem;
      font-size: 1em;
    }
  }
  .about-img {
    margin-left: 60px;
    width: 160px;
    height: 160px;
    overflow: hidden !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @include media(">=250px", "<lgphone") {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 40px;
    .about-contents {
      order: 2;
      text-align: center;
      margin: auto;
    }
    .about-img {
      order: 1;
      margin-bottom: 30px;
      margin-left: 0;
    }
  }
  @include media(">=lgphone", "<tablet") {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 40px;
    .about-contents {
      order: 2;
      text-align: center;
      margin: auto;
    }
    .about-img {
      order: 1;
      margin-bottom: 30px;
      margin-left: 0;
    }
  }
  @include media(">=tablet", "<desktop") {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 40px;
    .about-contents {
      order: 2;
      text-align: center;
      margin: auto;
    }
    .about-img {
      order: 1;
      margin-bottom: 30px;
      margin-left: 0;
    }
  }
}
