$medium: 1300px;
$large: 2500px;

.full-Header {
  margin-top: 10vh;
  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      margin: 0;
      font-weight: 600;
      cursor: pointer;
    }
    .links-wrapper {
      .header-links {
        text-decoration: none;
        padding: 10px;
        opacity: 0.6;
        transition: all 0.2s ease-in-out;
        font-size: 0.8em;
        background-color: transparent;
        outline: none;
        border: 0px;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      .active {
        color: black;
      }
    }
  }

  .headings {
    margin-top: 10vh;
    .site-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 30px 0 60px 0;
    }
    h2 {
      font-size: var(--title-font-size);
    }
    h1 {
      font-size: var(--title-font-size);
      margin: 0;
    }
    p {
      font-size: var(--subheader-font-size);
    }
    .underline-text {
      color: #60a5fa;
      text-decoration: none;
    }
    .about-img {
      // margin-left: 60px;
      width: 80px;
      height: 80px;
      overflow: hidden !important;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 20px;
    }

    .logos {
      cursor: pointer;
      color: rgb(113, 113, 121);
    }
  }
}

.padding-wrapper {
  padding: 0 8rem;

  @media screen and (max-width: $medium) {
    padding: 0 1rem;
  }
}

.cardList-about {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: var(--gap);
  scrollbar-width: none;
  height: 300px;

  padding-left: 4.5rem;
  padding-right: 5rem;

  @media screen and (max-width: $medium) {
    height: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    object-fit: cover;
    width: auto;
    margin-left: 3rem;

    @media screen and (max-width: $medium) {
      width: auto;
      object-fit: cover;
      object-position: 15% 10%; /* Show the top side of the picture */
      margin-left: 1rem;
    }
  }
}
