@import "./include-media.scss";
@import "header.scss";
@import "card.scss";
@import "about.scss";
@import "skills.scss";
@import "footer.scss";
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

* {
  font-family: "Montserrat";
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f5f5f5;
  color: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 0 var(--gap);
}
