.work-wrapper {
  margin-top: 15vh;
  h1 {
    margin-bottom: 45px;
  }
  .grid {
    display: flex;
    width: 80vw;
    flex-direction: column;
    margin-top: 20px;
    margin: 0 auto;

    @include media(">=250px", "<lgphone") {
      .content {
        flex-wrap: wrap;
        margin-bottom: 40px;
        justify-content: center;
        .container {
          text-align: center;
          margin: auto;
          .header {
            line-height: 1.9rem;
          }
          .btn {
            font-size: 0.75rem;
          }
        }
      }
    }
    @include media(">=lgphone", "<tablet") {
      .content {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
        .container {
          text-align: center;
          margin: auto;
        }
      }
    }
    @include media(">=tablet", "<desktop") {
    }
  }

  .content {
    padding: 10px 10px 35px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    @include media(">2500px") {
      width: 70%;
      margin: auto;
    }
    @include media(">=desktop", "<=2500px") {
    }
    @include media(">=750px", "<=1300px") {
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
      margin-bottom: 40px;
      padding: 10px;
    }
    .card {
      width: 28rem;
      height: 15em;
      overflow: hidden !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .container {
      margin-left: 20px;
      text-align: left;
      .header {
        line-height: 0.8rem;
        font-size: 1.5em;
      }
      .text {
        max-width: 600px;
        font-size: 1.0em;
      }
      .used {
        max-width: 600px;
        font-size: 1.0em;
        margin-bottom: 25px;
      }
      .btn {
        background-color: black;
        border-radius: 5px;
        padding: 10px;
        line-height: 0;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 0.80rem;
        letter-spacing: 0.02em;
      }
      .seperator {
        margin-left: 10px;
      }

      @include media(">=750px", "<=1300px") {
        text-align: center;
        margin-left: 0px;
      }
    }
  }
}
