:root {
  --gap: 24px;
  --primary-color: rgb(108, 108, 108);
  --secondary-color: solid rgb(238, 238, 238);

  --border-color: rgb(238, 238, 238);

  --black-font-color: rgb(108, 108, 108);

  --title-font-size: 32px;
  --header-font-size: 24px;
  --subheader-font-size: 18px;
  --paragraph-font-size: 14px;
  --subparagraph-font-size: 13px;
  --skills-font-size: 11px;

  --border-radius: 8px;
}
